footer {
  margin-top: 5rem;
  display: flex;
  height: 28rem;
  width: 100%;
}

.footer-left-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 8%;
  padding-top: 1rem;
}

.footer-right-container {
  align-items: center;
  padding-left: 10rem;
  padding-right: 5rem;
  display: flex;
  align-items: baseline;
  height: 100%;
  width: 50%;
}

.footer-social-icons {
  width: 100%;
  height: 10rem;
  display: flex;
  gap: 1.2rem;
  align-items: center;
}
.social-icon {
  transition: 0.6s;
}

.social-icon:hover {
  transform: scale(1.2);
}
.footer-get-in-touch {
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-size: 3rem;
}

.footer-slogan {
  font-size: var(--fontSize-footer-slogan);
  margin: 0.5rem 0;
  display: block;
  width: 60%;
}

.social-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.footer-list {
  grid-template-rows: repeat(4, 3rem);
  grid-template-columns: 10em 10em;
  font-size: 1.3rem;
  display: grid;
  width: 80%;
  gap: 1rem;
}

.footer-address {
  flex-direction: column;
  font-size: var(--fontSize-footer-address);
  margin-left: 2rem;
  padding-top: 2rem;
  display: flex;
  gap: 1rem;
}

.footer-seal {
  width: 14rem;
  height: 6rem;
}

.footer-copyrights {
  font-size: var(--fontSize-footer-copyrights);
  margin-bottom: 0.5rem;
}

.list-item-title {
  font-size: var(--fontSize-footer-listItem);
}
.list-item a {
  color: inherit;
}
