.user-section {
  background-color: var(--background-secondary);
  flex-direction: column;
  justify-content: center;
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.vote-title{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  font-size: 3.5rem;
  text-transform: capitalize;
}

.darkSection{
  background-color: var(--background-dark);
  color: var(--font-light);
}

